@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

body {
  background-color: #4f3ca7;
  height: 1500px;
}

main {
  position: relative;
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main.active {
  left: -400px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header.sticky {
  padding: 20px 100px;
  background-color: #4f3ca7;
}

header .logo {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 1px;
}

header .logo span {
  font-size: .8em;
}

header .toggle {
  position: relative;
  width: 36px;
  height: 28px;
  background: url("images/toggle.png");
  background-size: cover;
  cursor: pointer;
}

header .toggle.active {
  background: url("images/close.png");
  background-size: cover;
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #4f3ca7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: .2;
}

.banner .content {
  position: relative;
  max-width: 750px;
  text-align: center;
}

.banner .content h2 {
  font-size: 3em;
  color: white;
}

.banner .content h3 {
  font-size: 1.5em;
  color: white;
}

.banner .content p {
  font-size: 1.2em;
  color: white;
}

.sidebar {
  position: fixed;
  right: -400px;
  top: 0;
  width: 400px;
  height: 100%;
  background-color: #4f3ca7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sidebar.active {
  right: 0;
}

.sidebar ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar ul li {
  list-style: none;
  margin: 5px 0;
}

.sidebar ul li a {
  color: white;
  font-size: 1.5em;
  font-weight: 400;
  text-decoration: none;
}

.sidebar ul li a:hover {
  color: #ffb765;
}

.about {
  position: relative;
  width: 100%;
  background-color: #ff5a5f;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .contentBox {
  padding: 100px;
  width: 50%;
}

.about .contentBox .heading {
  position: relative;
  color: white;
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.about .contentBox .text {
  position: relative;
  color: white;
  font-size: 1.2em;
  font-weight: 300;
  letter-spacing: 1px;
}

.about .imgBox {
  position: relative;
  width: 50%;
  background-image: url(images/meeting.jpg);
  background-size: cover;
  background-position: right;
}

.services {
  position: relative;
  background-color: #ececec;
  text-align: center;
  padding: 100px;
}

.services .container {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px;
}

.services .heading {
  position: relative;
  color: #087e8b;
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.services .serviceBox {
  position: relative;
  min-width: 300px;
  height: 350px;
  background-color: #087e8b;
  padding: 40px 20px;
  margin: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
}

.services .serviceBox img {
  -webkit-filter: invert(0.9);
          filter: invert(0.9);
  height: 100px;
  width: 100px;
}

.services .serviceBox h3 {
  text-transform: uppercase;
  color: white;
  margin: 10px 0;
}

.services .serviceBox ul {
  list-style-type: none;
}

.services .serviceBox ul li {
  font-size: 1.2em;
  font-weight: 300;
  color: whitesmoke;
  text-align: center;
}
/*# sourceMappingURL=main-style.css.map */