@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #4f3ca7;
  height: 1500px;
}

main {
  position: relative;
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main.active {
  left: -400px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header.sticky {
  padding: 10px 100px;
  background-color: #4f3ca7;
}

header .logo {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 1px;
}

header .logo span {
  font-size: 0.8em;
}

header .toggle {
  position: relative;
  width: 36px;
  height: 28px;
  background: url("images/toggle.png");
  background-size: cover;
  cursor: pointer;
}

header .toggle.active {
  background: url("images/close.png");
  background-size: cover;
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #4f3ca7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.2;
}

.banner .content {
  position: relative;
  max-width: 750px;
  text-align: center;
}

.banner .content h2 {
  font-size: 3em;
  color: white;
  margin-bottom: 20px;
}

.banner .content h3 {
  font-size: 1.5em;
  color: white;
  margin-bottom: 10px;
}

.banner .content p {
  font-size: 1.2em;
  color: white;
}

.sidebar {
  position: fixed;
  right: -400px;
  top: 0;
  width: 400px;
  height: 100%;
  background-color: #4f3ca7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sidebar.active {
  right: 0;
}

.sidebar ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar ul li {
  list-style: none;
  margin: 5px 0;
}

.sidebar ul li a {
  color: white;
  font-size: 1.5em;
  font-weight: 400;
  text-decoration: none;
}

.sidebar ul li a:hover {
  color: #ffb765;
}

.about {
  position: relative;
  width: 100%;
  background-color: #ff5a5f;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .contentBox {
  padding: 100px;
  width: 50%;
}

.about .contentBox .heading {
  position: relative;
  color: white;
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.about .contentBox .text {
  position: relative;
  color: white;
  font-size: 1.2em;
  font-weight: 300;
  letter-spacing: 1px;
}

.about .imgBox {
  position: relative;
  width: 50%;
  background-image: url(images/meeting.jpg);
  background-size: cover;
  background-position: right;
}

.services {
  position: relative;
  background-color: #ececec;
  text-align: center;
  padding: 100px;
}

.services .container {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px;
}

.services .heading {
  position: relative;
  color: #3d3d3d;
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.services .serviceBox {
  position: relative;
  min-width: 300px;
  height: 320px;
  background-color: #087e8b;
  padding: 40px 20px;
  margin: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.services .serviceBox div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services .serviceBox img {
  -webkit-filter: invert(0.9);
          filter: invert(0.9);
  height: 100px;
  width: 100px;
}

.services .serviceBox h3 {
  font-size: 1.2em;
  text-transform: uppercase;
  color: white;
  margin: 10px 0;
}

.services .serviceBox ul {
  list-style-type: disc;
}

.services .serviceBox ul li {
  font-size: 1em;
  font-weight: 300;
  color: whitesmoke;
  text-align: left;
}

.projects {
  position: relative;
  background: #f5f5f5;
  width: 100%;
  padding: 100px;
  padding-top: 200px;
  margin-top: -200px;
}

.projects .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e0e0e0;
}

.projects .project .contentBox {
  position: relative;
  width: 50%;
  padding-left: 40px;
}

.projects .project .contentBox .heading {
  color: #3d3d3d;
}

.projects .project .contentBox .text {
  color: #3d3d3d;
}

.projects .project .contentBox .text span {
  color: #087e8b;
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 5px;
}

.projects .project .contentBox .services-provided {
  padding-top: 20px;
  color: #747474;
  font-size: 0.8em;
  font-weight: 400;
}

.projects .project .imgBox {
  position: relative;
  width: 50%;
}

.projects .project .imgBox img {
  width: 100%;
}

.clients {
  position: relative;
  padding: 100px;
  text-align: center;
}

.clients .heading {
  color: white;
  margin-bottom: 10px;
  position: relative;
  font-size: 2em;
  font-weight: 600;
}

.clients .text {
  color: white;
}

.clients .imgBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40px;
}

.clients .imgBox img {
  display: inline-block;
  position: relative;
  max-width: 200px;
  margin: 20px;
  opacity: 0.5;
  cursor: pointer;
}

.clients .imgBox img:hover {
  opacity: 0.9;
}

.testimonials {
  position: relative;
  padding: 100px;
  background-color: #ff5a5f;
  text-align: center;
}

.testimonials .heading {
  color: white;
}

.testimonials .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.testimonials .container .contentBox {
  position: relative;
  background-color: white;
  padding: 60px 50px;
  margin: 10px;
  width: 540px;
  text-align: left;
  font-style: italic;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials .container .contentBox div .text {
  margin-bottom: 10px;
  color: #3d3d3d;
}

.testimonials .container .contentBox h3 {
  width: 100%;
  text-align: right;
  font-weight: 500;
  color: #4f3ca7;
}

.team {
  position: relative;
  padding: 100px 100px 100px;
  background: #087e8b;
  text-align: center;
}

.team .heading {
  color: white;
  margin-bottom: 10px;
  position: relative;
  font-size: 2em;
  font-weight: 600;
}

.team .text {
  color: white;
}

.team .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team .container .teamBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team .container .teamBox .box {
  margin: 0 10px;
  width: 260px;
  padding: 5px;
  background-color: white;
}

.team .container .teamBox .box .imgBox {
  position: relative;
  width: 100%;
  height: 300px;
  -webkit-box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.377);
          box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.377);
}

.team .container .teamBox .box .imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team .container .teamBox .box .content {
  padding: 15px 0;
}

.team .container .teamBox .box .content h3 {
  position: relative;
  font-size: 18px;
  line-height: 1.2em;
  color: #4f3ca7;
}

.team .container .teamBox .box .content h3 span {
  position: relative;
  font-size: 16px;
  font-weight: 300;
  color: #3d3d3d;
}

.contact {
  position: relative;
  padding: 50px 100px;
  text-align: center;
  background-color: #f5f5f5;
  color: #3d3d3d;
}

.contact-form {
  position: relative;
  padding: 50px 100px;
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contact-form .imgBox2 {
  position: relative;
  width: 50%;
  height: auto;
  background-size: cover;
  background-position: right;
  text-align: center;
}

.contact-form .contentBox {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-form .contentBox .form {
  position: relative;
  text-align: center;
  width: 80%;
}

.contact-form .contentBox .form .inputBox {
  margin-bottom: 40px;
}

.contact-form .contentBox .form .inputBox input,
.contact-form .contentBox .form .inputBox textarea {
  width: 100%;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  outline: none;
  padding: 5px 0;
  font-size: 1em;
  font-weight: 400;
  color: #3d3d3d;
  border-bottom: 1px solid #818181;
}

.contact-form .contentBox .form .inputBox input::-webkit-input-placeholder, .contact-form .contentBox .form .inputBox input::-webkit-input-placeholder,
.contact-form .contentBox .form .inputBox textarea::-webkit-input-placeholder,
.contact-form .contentBox .form .inputBox textarea::-webkit-input-placeholder {
  color: #3d3d3d;
  opacity: 0.5;
}

.contact-form .contentBox .form .inputBox input:-ms-input-placeholder, .contact-form .contentBox .form .inputBox input:-ms-input-placeholder,
.contact-form .contentBox .form .inputBox textarea:-ms-input-placeholder,
.contact-form .contentBox .form .inputBox textarea:-ms-input-placeholder {
  color: #3d3d3d;
  opacity: 0.5;
}

.contact-form .contentBox .form .inputBox input::-ms-input-placeholder, .contact-form .contentBox .form .inputBox input::-ms-input-placeholder,
.contact-form .contentBox .form .inputBox textarea::-ms-input-placeholder,
.contact-form .contentBox .form .inputBox textarea::-ms-input-placeholder {
  color: #3d3d3d;
  opacity: 0.5;
}

.contact-form .contentBox .form .inputBox input::placeholder, .contact-form .contentBox .form .inputBox input::placeholder,
.contact-form .contentBox .form .inputBox textarea::placeholder,
.contact-form .contentBox .form .inputBox textarea::placeholder {
  color: #3d3d3d;
  opacity: 0.5;
}

.contact-form .contentBox .form .inputBox input textarea,
.contact-form .contentBox .form .inputBox textarea textarea {
  min-height: 150px;
}

.contact-form .contentBox .form .inputBox input[type="submit"] {
  width: 150px;
  background: #3d3d3d;
  color: #f5f5f5;
  cursor: pointer;
  font-weight: 400;
  border-radius: 4px;
  border: 0;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.contact-form .contentBox .form .inputBox input[type="submit"]:hover {
  background: #9c9c9c;
  color: white;
}

footer {
  position: relative;
  background-color: #4f3ca7;
  padding: 20px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #cccccc;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
}

footer ul .follow {
  color: #f5f5f5;
}

footer ul li {
  list-style: none;
}

footer ul li a {
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
}

footer ul li a img {
  max-width: 20px;
  -webkit-filter: invert(1);
          filter: invert(1);
}

footer .text {
  color: #9c9c9c;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

footer .text a {
  text-decoration: underline;
  color: #9c9c9c;
}

@media (max-width: 991px) {
  header {
    padding: 20px 50px;
  }
  header a {
    font-size: 1em;
  }
  header .toggle {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  header.sticky {
    padding: 10px 50px;
  }
  .banner {
    padding: 100px 50px;
  }
  .about .contentBox {
    width: 100%;
    padding: 50px 50px;
  }
  .about .imgBox {
    display: none;
  }
  .services {
    padding: 50px 50px;
  }
  .services .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .projects {
    padding: 50px 50px;
    padding-top: 200px;
  }
  .projects .project {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projects .project .contentBox,
  .projects .project .imgBox {
    width: 100%;
    padding: 0;
  }
  .projects .project .contentBox {
    margin-top: 20px;
  }
  .clients {
    padding: 50px 50px;
  }
  .clients .imgBox {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .testimonials {
    padding: 50px 50px;
  }
  .testimonials .container {
    margin: 0;
  }
  .testimonials .container .contentBox {
    margin: 20px 0;
    padding: 30px 20px;
  }
  .testimonials .container .contentBox div .text {
    font-size: 0.8em;
  }
  .testimonials h3 {
    font-size: 0.8em;
    font-weight: 300;
  }
  .team {
    position: relative;
    padding: 50px 50px;
  }
  .contact {
    padding: 50px 50px;
  }
  .contact-form {
    padding: 50px 50px;
  }
  .contact-form .contentBox {
    padding: 0 50px;
    width: 100%;
  }
  .contact-form .contentBox .form {
    width: 100%;
  }
  .contact-form .imgBox2 {
    display: none;
  }
  footer {
    padding: 20px 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-flow: column-reverse;
        flex-flow: column-reverse;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .banner .content h2 {
    font-size: 2em;
  }
  .contact-form {
    padding: 50px 50px;
  }
  .contact-form .contentBox {
    padding: 0;
    width: 100%;
  }
  .contact-form .contentBox .form {
    width: 100%;
  }
}
/*# sourceMappingURL=main-style.css.map */